@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #444444;
    box-sizing: border-box;
}
body{
    height: 100vh;
    scroll-behavior: smooth;
}

/* HEADER */
header{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    background-color: #2c2c2c;
}
.logo__outer{
    width: 40%;
    height: 100%;
}
.logo__outer img{
    margin: 10px 0;
    height: 60px;
}
nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.menu__link__inner{
    color: #a5a5a5;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    position: relative;
}
.menu__link__inner:hover{
    color: #fff;
    transition: all 0.3s;
}
.menu__link__inner:hover::after{
    width: 80%;
}
.menu__link__inner::after{
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: all 0.3s;
    transform: translateX(-50%);
}

/* banner */
.header__under__banner{
    height: 505px;
    width: 100%;
    background-image: url("../img/top_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.under__banner{
    height: 100%;
    background: rgba(17, 17, 17, 0.65);
    
}
.banner__inner *{
    color: #fff;
}
.banner__inner__inner{
    width: 45%;
    height: auto;
    padding: 100px 0 0 100px;
}
.banner__inner__inner strong{ 
    font-size: 52px;
    font-weight: 600;
}
.banner__strong__under{
    font-size: 36px;
    font-weight: 300;
}
.banner__description{
    display: block;
    font-size: 18px;
    margin: 36px 0;
}
.banner__button{
    background-color: #2c2c2c;
    border: none;
    padding: 20px;
    font-size: 24px;
    box-shadow: 0 0 5px #2c2c2c;
}
.banner__button:hover{
    cursor: pointer;
    background-color: #444444;
    transition: all 0.3s;
}

/* section */
section{
    max-width: calc(100vw - 200px);
    width: 100%;
    margin: 0 auto;
}
.section__header{
    font-size: 28px;
    margin: 28px 0;
    text-align: center;
}

/* we are good*/
.wearegood{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.wearegood__item{
    width: 25%;
    text-align: center;
}
.wearegood__item img{
    width: 40%;
    padding: 20px;
}

/* collage */
.collage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 80px 0;
}
.collage div{
    width: 43%;
}
.collage .left__side img{
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
}
.collage .right__side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.collage .right__side div{
    width: 100%;
}
.collage .right__side .upper img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}
.collage .right__side .lower .section__header{
    font-weight: 600;
    margin-bottom: 14px;
}
.collage .right__side .lower p{
    text-align: justify;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}

/*top products*/
.top__products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
    align-items: center;
}
.top__products__inner{
    width: 50%;
    padding: 25px;
    display: flex;
}
.top__products__inner:hover{
    background: rgba(68, 68, 68, 0.35);
    transition: all 0.3s;
}
.top__products__inner img{
    width: 200px;
    -o-object-fit: contain;
       object-fit: contain;
}
.top__products__inner .right{
    padding-left: 20px;
}
.top__products__inner .right h3{
    font-size: 20px;
}
.top__products__inner .right p{
    padding: 14px 0;
    font-size: 18px;
    text-align: justify;
}
.cost{
    padding: 14px 0;
    font-size: 22px;
}
.cost::after{
    content: " руб. ";
    font-size: 16px;
}
.button__add{
    display: block;
    margin-top: 14px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background-color: #2c2c2c;
    border: none;
}
.button__add:hover{
    background-color: #444444;
    cursor: pointer;
    transition: all 0.3s;
}

/* banner 2 */
.banner2{
    background-image: url("../img/top_back2.jpg");
}
.banner__description ul li{
    padding-top: 10px;
}

/* catalog*/
.catalog{
    width: 100%;
    
}
.catalog__header{
    margin-bottom: 0;
}
.catalog__select{
    display: block;
    width: 300px;
    height: 40px;
    border: 3px solid;
    border-color: #444444;
    font-size: 20px;
    font-weight: 600;
    color: #2c2c2c;
    margin: 0 auto 20px;
}
.catalog__inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.catalog__item{
    width: 320px;
    margin: 0 30px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.catalog__item img{
    height: 280px;
    -o-object-fit: contain;
       object-fit: contain;
}
.catalog__item:hover{
    background-color: #fafafa;
    transition: all 0.3s;
}
.catalog__item .cost{
    padding: 5px 0;
}
.catalog__item *{
    text-align: center;
}

/* delivery info */
.delivery__outer{
    margin: 100px 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.delivery__outer .text{
    width: 35%;
    padding: 60px 20px;
    max-height: 250px;
}
.delivery__outer .text p{
    font-size: 20px;
    margin-top: 10px;
}
.delivery__outer .img__outer{
    width: 40%;
}
.delivery__outer .img__outer img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.delivery__outer .text2{
    width: 35%;
    background-color: #F2F2F2;
    padding: 60px 20px;
    max-height: 250px;
}

/*del info second*/
.second{
    align-items: flex-start;
    margin: 28px 0;
    height: auto;
}
.second .text2{
    width: 50%;
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 40px;
    height: auto;
}
.second .text2 p{
    text-align: justify;
    margin-bottom: 4px;
}
.second .text2 b{
    font-weight: 600;
    text-decoration: underline;
}
.second .text2 h3{
    text-align: justify;
    margin: 8px 0;
}

.second .img__outer{
    width: 20%;
}

/* auth + reg */
.wrapper{
    background-color: rgba(17, 17, 17, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__inner{
    background-color: #fafafa;
    width: 400px;
    max-height: 955px;
    overflow-y: auto;
}
.wrapper__header{
    height: 35px;
    margin: 10px 10px 0 10px;
    width: calc(100%-20px);
    position: relative;
}
.wrapper__header img{
    position: absolute;
    right: 0;
    height: 100%;
    transition: all 0.5s;
}
.wrapper__header img:hover{
    cursor: pointer;
    transition: all 0.5s;
    transform: rotate(45deg);
}
.wrapper__inner h2{
    text-align: center;
}
.wrapper__inner *{
    text-align: center;
}
.wrapper__inner input{
    width: 80%;
    font-size: 20px;
    margin-top: 30px;
    background-color: #fafafa;
    border: none;
    border-bottom: 2px solid #a5a5a5;
}
.wrapper__inner input:active,
.wrapper__inner input:hover
{
    transition: all 0.3s;
    border-bottom: 2px solid #444444;
}
.wrapper__inner button{
    margin-bottom: 30px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #444444;
    border: none;
    color: #fff;
}
.wrapper__inner button:hover{
    cursor: pointer;
    background-color: #2c2c2c;
    transition: all 0.3s;
}
.wrapper__inner p{
    margin-bottom: 20px;
    padding: 10px 30px;
    padding-bottom: 0;
}
.switch__form{
    font-weight: 800;
    text-decoration: underline;
}
.switch__form:hover{
    cursor: pointer;
}

/*buttons big*/
.busket__button{
    position: fixed;
    width: 90px;
    height: 90px;
    bottom: 25px;
    right: 25px;
    background-color: #444444;
    z-index: 1000;
    border-radius: 100%;
    box-shadow: 0 0 8px #444444;
}
.busket__button:hover{
    background-color: #2c2c2c;
    cursor: pointer;
    transition: all 0.3s;
}
.busket__button img{
    height: 100%;
    padding: 10px;
}
/*buttons big*/
.to__up{
    position: fixed;
    width: 90px;
    height: 90px;
    bottom: 140px;
    right: 25px;
    background-color: #444444;
    z-index: 1000;
    border-radius: 100%;
    box-shadow: 0 0 8px #444444;
}
.to__up:hover{
    background-color: #2c2c2c;
    cursor: pointer;
    transition: all 0.3s;
}
.to__up img{
    height: 100%;
    padding: 10px;
}

/*cart*/
.cart__inner{
    width: 90%;
    margin: 10px auto 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.cart__item{
    width: 100%;
    padding: 2px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #444444;
    margin-top: 20px;
}
.cart__item .cost{
    width: 30%;
}
.cart__item .name{
    width: 60%;
}
.count__panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28px;
}
.count__panel .change{
    font-size: 22px;
    border: 1px solid #444444;
    width: 28px;
    margin-bottom: 0;
    padding: 0;
}
.count__panel .change:hover{
    transition: all 0.3s;
    background-color: #444444;
    cursor: pointer;
    color: #fff;
}
.count__panel  .count{
    font-size: 20px;
    
}

/* profile */
.char__outer{
    margin-bottom: 20px;
}
.char__outer:last-of-type{
    margin-bottom: 30px;
}
.profile h2{
    margin-bottom: 20px;
}
.profile .char__label{
    display: block;
    font-weight: 600;
    font-size: 18px;
}
.profile .label{
    font-size: 18px;
}

/*notification*/
.notification{
    position: fixed;
    width: 400px;
    z-index: 1300;
    top: 100px;
    right: 0px;
    padding: 10px;
    background-color: #888888;
    border-left: 5px solid #c44040;

}
.notification h3{
    text-align: left;
    color: #2c2c2c;
}
.notification p{
    text-align: left;
    color: #2c2c2c;
    font-weight: 500;
}

.added{
    color: #2c2c2c;
    background-color: #fff;
    border: 2px solid #2c2c2c;
}
.added:hover{
    color: #444444;
    background-color: #fff;
    border-color: #444444;
}
button:disabled{
    opacity: 0.3;
}
button:disabled:hover{
    cursor:not-allowed;
}
.bucket__clear{
    margin: 0 auto;
}
.hide{
    display: none;
}